body {margin: 0;
    text-align: center;
    font-family: 'Montserrat', serif;
}
h1 {
    margin: 0 auto;
    font-family: 'Sacramento', cursive;
}

.top-container {background-color: #abdca5;
padding-top: 20px;
position: relative;
margin-bottom: 0px;}

.top-cloud {position:absolute;
right:300px;
top: 150px;}

.bottom-cloud {position: absolute;
left: 300px;
bottom: 300px;}

.mountain {margin-bottom: 0px;}

.logo-smabu {position: fixed;
height: 70px;
width: 70px;
top: 4rem;
left: 4rem;}

h1.judul {color: #5771C2;
    margin-top: 240px;
font-size: 3rem;}

h2 {color:#5C94CC;}

h3 {text-align: center;}

.hr1 {border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 8px;
    width: 4%;
margin-top: 50px;}

.my-image {height: 120px;
    width: 120px;
margin-top: 100px;}    

.p1 {font-weight: bolder;
font-size: 25px;
color:#5BA0B5;}

.ul1 {text-align:left;
line-height: 1.5;
margin-left: 0;}

.ul2 {text-align: left;
    line-height: 1.5;}

.html {height: 270px;
    width: 270px;
}   

.award {height: 270px;
    width: 270px;
}  


table.center {
    margin-left:auto; 
    margin-right:auto;
  }
